$sidebar-bg-color: #183650;
$sidebar-text-color: #FFFFFF;
$option-hover: #007DBA;
$active-child-color: #FF9E1B;
$border-bottom: #B9B9B9;
$hover-border: #6E7D89;

.sidebar {
  width: 304px;
  height: 100vh;
  background: $sidebar-bg-color;
  color: $sidebar-text-color;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow: visible;

  &.collapsed {
    width: 90px;

    .expand-icon {
      transform: rotate(180deg);
    }

    .sub-icon {
      display: none;
      width: 0;
      min-width: 0;
      margin: 0;
    }

    .nav-main {
      justify-content: center;
    }

    .nav-item:hover .nav-main {
      background: $option-hover;
    }

    .label,
    .sub-list,
    .logo {
      display: none;
    }
  }
}

.app-name {
  font-size: 16px;
  margin-top: 38px;
  margin-left: 8px;

  .sub-text-logo {
    font-size: 10px;
  }
}

.hover-panel {
  position: fixed;
  left: 105px;
  transform: none;
  min-width: 250px;
  background: transparent;
  color: $sidebar-bg-color;
  border: 1px solid $hover-border;
  border-radius: 0 4px 4px 0;
  gap: 10px;
  box-shadow: 0px 2px 6px 2px #00000026;
  z-index: 9999;
}



.nav-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: $sidebar-bg-color;
  height: 72px;
  display: flex;
  align-items: center;
}

.logo {
  width: 195.91px;
  height: 71px;
  margin: 16px;
  transition: all 0.3s ease;
}

.toggle-btn {
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;

  .expand-icon {
    width: 32px;
    height: 32px;
  }
}

.nav-scroll {
  flex: 1;
  overflow-y: auto;
  overflow-x: visible;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  gap: 12px;
  position: relative;
  z-index: 1;

  &:hover {
    z-index: 10;
  }
}

.hover-title {
  font-weight: 600;
  margin-bottom: 6px;
  background-color: $option-hover;
}

.hover-children {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

.dropdown-icon {
  filter: brightness(0) invert(1);
  width: 18px;
  height: 11px;
  margin-left: auto;
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

.dropdown-icon.open {
  transform: rotate(0deg);
}

.nav-main {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 24px 26.5px;
  cursor: pointer;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  font-family: 'Myriad Pro';

  &:hover {
    background: rgba(255, 255, 255, 0.12);
  }

  &.active {
    background: $option-hover;
    font-weight: 600;
  }

  .icon {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
  }

  .label {
    white-space: nowrap;
  }
}

.sub-list {
  list-style: none;
  margin: 4px 0 0 0;
  padding-left: 36px;

  .sub-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 24px 26.5px;
    cursor: pointer;

    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    font-family: 'Myriad Pro';

    &:hover {
      opacity: 1;
    }

    &.active-child {
      color: $active-child-color;
      opacity: 1;
      font-weight: 600;
    }

    .sub-text {
      position: relative;
      display: inline-block;
    }

    &.active-child .sub-text::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;

      width: 100%;
      height: 2px;

      background-color: $active-child-color;
      border-radius: 2px;
    }
  }
}

.hover-child-item {
  display: flex;
  align-items: center;
  padding: 22px 18px;
  border-bottom: 0.5px solid $border-bottom;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Myriad Pro';
  cursor: pointer;
  background: transparent;
  color: $sidebar-bg-color;
  gap: 8px;
  transition: background 0.2s ease;
  position: relative;
  overflow: hidden;

  &:last-child {
    border-bottom: none;
  }

  .sub-text {
    position: relative;
    display: inline-block;
    width: auto;
    max-width: fit-content;
  }

  &:hover,
  &.active-child {
    color: $active-child-color;
    font-weight: 600;
    background: transparent;
  }
}

.hover-child-item .sub-text::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: $active-child-color;
  bottom: -4px;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.hover-child-item:hover .sub-text::after,
.hover-child-item.active-child .sub-text::after {
  opacity: 1;
}

.sub-icon {
  width: 16px;
  height: 16px;
  filter: brightness(0) invert(1);
  flex-shrink: 0;
}

.hover-child-item .sub-icon {
  filter: none;
}