<nav class="sidebar" [class.collapsed]="!expanded" [class.slider-mode]="useSlider">
  <div class="nav-header">
    @if (showLogo && expanded) {
    <img src="assets/icons/logo.svg" class="logo" />
    }
    @if (!expanded){
    <span class="app-name">Fracht
      <span class="sub-text-logo">GROUP</span>
    </span>
    }
    <button class="toggle-btn" (click)="toggle()">
      <img src="assets/icons/navigation.svg" alt="Toggle sidebar" class="expand-icon" />
    </button>
  </div>
  <div class="nav-scroll">
    <ul class="nav-list">
      @for (item of navItems; track item.label; let i = $index) {
      <li class="nav-item" (mouseenter)="onHover(i, $event)" (mouseleave)="hoveredIndex = null">
        <div class="nav-main" (click)="onParentClick(i, !!item.children?.length)" [class.active]="activeIndex === i">
          @if (showParentIcons) {
          <img class="icon" [src]="item.icon" />
          }
          @if (expanded) {
          <span class="label">{{ item.label }}</span>
          }
          @if (item.children?.length && expanded) {
          <img src="assets/icons/dropdown.svg" class="dropdown-icon" [class.open]="openIndex === i" />
          }
        </div>
        @if (!expanded && hoveredIndex === i && item.children?.length) {
        <div class="hover-panel" [style.top.px]="panelTop">
          @if (item.children?.length) {
          <ul class="hover-children">
            @for (child of item.children; track child; let ci = $index) {
            <li class="hover-child-item">
              @if (showChildIcons && child.icon) {
              <img class="sub-icon" [src]="child.icon" />
              }
              <span class="sub-text">{{ child.label }}</span>
            </li>
            }
          </ul>
          }
        </div>
        }
        @if (expanded && item.children?.length && openIndex === i) {
        <ul class="sub-list">
          @for (child of item.children; track child; let ci = $index) {
          <li class="sub-item" (click)="selectChild(i, ci)" [class.active-child]=" activeChild?.parent === i && activeChild?.index === ci">
            @if (showChildIcons && expanded && child.icon) {
            <img class="sub-icon" [src]="child.icon" />
            }
            <span class="sub-text">{{ child.label }}</span>
          </li>
          }
        </ul>
        }
      </li>
      }
    </ul>
  </div>
  @if (useSlider) {
  <div class="bottom-collapse" (click)="toggle()">
    @if (expanded){<span>&lt;&lt; COLLAPSE</span>}
    @if (!expanded){<span>&gt;&gt;</span>}
  </div>
  }
</nav>