$tooltip-text: #FFF;
$tooltip-background: #3F4443;
$read-more: #00A3E0;

.tooltip {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 40px;
  text-decoration: underline;
}

.tooltiptext {
  visibility: hidden;
  width: 280px;
  background-color: $tooltip-background;
  color: $tooltip-text;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.2s ease;

  font-family: 'Myriad Pro';
  font-size: 16px;
  line-height: 1.4;

  white-space: normal;
  word-wrap: break-word;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip-content {
  line-height: 1.4;
  max-height: calc(1.4em * 3); 
  overflow: hidden;
}

.tooltiptext.collapsed .tooltip-content {
  display: block;
}

.tooltiptext.expanded .tooltip-content {
  max-height: none;
}


.read-more {
  display: inline-block;
  margin-top: 6px;
  font-size: 14px;
  color: $read-more;
  cursor: pointer;
  text-decoration: underline;
}

/* TOP */
.tooltiptext.top {
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltiptext.top::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: $tooltip-background transparent transparent transparent;
}

/* BOTTOM */
.tooltiptext.bottom {
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltiptext.bottom::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent $tooltip-background transparent;
}

/* LEFT */
.tooltiptext.left {
  right: 53%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltiptext.left::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent $tooltip-background;
}

/* RIGHT */
.tooltiptext.right {
  left: 53%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltiptext.right::after {
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent $tooltip-background transparent transparent;
}