<div class="main-multiRing">
    <div class="multi-ring-layout">
        <div class="multi-ring-wrapper">
            <svg [attr.width]="size" [attr.height]="size" [attr.viewBox]="'0 0 ' + size + ' ' + size">
                @for (ring of rings; track $index) {
                <circle [attr.cx]="size/2" [attr.cy]="size/2" [attr.r]="getRingRadius($index)" class="ring-bg" />
                <circle [attr.cx]="size/2" [attr.cy]="size/2" [attr.r]="getRingRadius($index)" class="ring-fill"
                    [class.active]="selectedIndex === $index" [attr.stroke]="ring.color"
                    [attr.stroke-dasharray]="getRingCircumference(getRingRadius($index))"
                    [attr.stroke-dashoffset]="getRingOffset(ring.value, getRingRadius($index))"
                    (mouseenter)="showTooltip($event, ring)" (mouseleave)="hideTooltip()"
                    (click)="selectRing($index)" />

                }
                <g class="ring-scale" [attr.transform]="'rotate(90 ' + size/2 + ' ' + size/2 + ')'">
                    <text [attr.x]="size/2" y="16" text-anchor="middle">0%</text>
                    <text [attr.x]="size + 2" [attr.y]="size/2 + 5" text-anchor="end">25%</text>
                    <text [attr.x]="size/2" [attr.y]="size - 6" text-anchor="middle">50%</text>
                    <text x="-2" [attr.y]="size/2 + 5" text-anchor="start">75%</text>
                </g>
            </svg>
        </div>
        <div class="multi-ring-legend">
            @for (ring of rings; track $index) {
            <div class="legend-item" [class.active]="selectedIndex === $index" (click)="selectRing($index)">
                <span class="legend-color" [style.background]="ring.color"></span>
                <span class="legend-text">
                    {{ ring.label }}
                </span>
            </div>
            }
        </div>
    </div>
</div>