<div class="badge-card" [ngClass]="variant">
    @if (variant === 'counter') {
    <div class="pill" [ngClass]="[size, color]" [style.background]="color === 'custom' ? customColor : null">
        <span>+</span>
        <span>{{ count }}</span>
    </div>
    }
    @if (variant === 'status') {
    @if (status === 'warning' || status === 'both') {
    <div class="icon" [ngClass]="color" [style.background-color]="color === 'custom' ? customColor : null">
        <img src="/assets/icons/warning-badge.svg" />
    </div>
    }
    @if (status === 'success' || status === 'both') {
    <div class="icon" [ngClass]="color" [style.background-color]="color === 'custom' ? customColor : null">
        <img src="/assets/icons/tick-icon.svg" />
    </div>
    }
    }
</div>