$card-bg: #FFF;
$promo-left: #183650;
$promo-color: #3F4443;
$promo-divider: #212529;
$promo-btn: #00A3E0;
$promo-hover: #000;
$arrow-bg: #ffffffd9;
$swatch: #ddd;
$prod-title: #1D1D1D;
$offer: #E4312C;
$prod-link: #A3A4A4;
$stats-divider: #E0E0E0;
$stats-row: #6C757D;
$link: #007DBA;