$field-disabled-color: #6C757D;
$field-active: #183650;
$field-disabled: #F4F4F4;
$field-error: #CC3629;
$input-background: #FFFFFF;
$readonly-color: #212529;
$field-disabled-border: #D9D9D9;

.ms-wrapper {
    display: flex;
    width: 509px;
    align-items: flex-start;
    gap: 10px;
    position: relative;

    /* LABEL FLOAT */
    .ms-label {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        font-size: 16px;
        padding: 0 4px;
        color: $field-disabled-color;
        transition: all .2s;
        background-color: $input-background;

        span {
            color: $field-error;
        }
    }

    /* CONTROL BOX */
    .ms-control {
        display: flex;
        height: 48px;
        padding: 0 16px;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;
        border-radius: 4px;
        border: 1px solid rgba(24, 54, 80, 0.45);
        background: #fff;
        color: #3F4443;
        font-size: 16px;

        .selected-list {
            display: flex;
            align-items: center;
            gap: 2px;

            .placeholder {
                font-size: 16px;
                color: #6C757D;
                opacity: .8;
            }

            .single-value {
                font-size: 16px;
                color: #3F4443;
                padding-left: 4px;
            }


            .selected-item {
                display: flex;
                padding: 3px 8px 3px 12px;
                align-items: center;
                gap: 4px;
                font-size: 16px;
                border-radius: 21px;
                border: 1px solid #D9D9D9;
                background: #F4F4F4;
                color: $field-disabled-color;

                &.extra {
                    height: 18px;
                    padding: 0 4px;
                    color: #FFF;
                    background: #007DBA;
                }
            }
        }

        .arrow {
            margin-left: auto;
            transition: transform .2s;

            &.open {
                transform: rotate(180deg);
            }
        }
    }
}

.error-text {
    color: $field-error;
    font-size: 14px;
    margin: 0 16px;
}

/* STATES */
.ms-wrapper.focused .ms-control {
    border-color: $field-active;
    background-color: #FFF;
}

.ms-wrapper.focused .ms-label {
    top: -2px;
    font-size: 14px;
    color: #6C757D;
}

/* DROPDOWN */
.dropdown {
    margin-top: 2px;
    border-radius: 0 0 6px 6px;
    border: 1px solid rgba(24, 54, 80, 0.45);
    background: #fff;
    max-height: 220px;
    overflow-y: auto;
}

.option {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px;
    cursor: pointer;

    .option:hover {
        background-color: #1976d2;
    }
}

.ms-wrapper.disabled .ms-control {
    background: $field-disabled;
    border: 1px solid $field-disabled-border;
    color: $field-disabled-color;
    cursor: not-allowed;
}

.ms-wrapper.disabled .ms-label {
    background: $field-disabled;
}

.ms-wrapper.readonly .ms-control {
    background: #FFF;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.20);
    border: none;

}

.ms-wrapper.error .ms-control {
    border: 1px solid $field-error;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.20);
    margin-bottom: 6px;
}