<div class="ms-wrapper" [ngClass]="{
        disabled: disabled,
        error: !!error,
        readonly: readonly,
        focused: isOpen || selected.length > 0,
        'dropdown-mode': mode === 'dropdown',
    'search-mode': mode === 'search'
     }" (click)="handleClick()">

    <label class="ms-label">
        {{ label }}
        @if (required) {
        <span>*</span>
        }
    </label>

    <div class="ms-control">
        <div class="selected-list">
            @if(selected.length === 0 && isFocused) {
            <span class="placeholder">{{ placeholder }}</span>
            }
            @if(selected.length === 1) {
            <span class="single-value">{{ selected[0] }}</span>
            }
            @if (selected.length > 1) {
            @for (item of selected | slice:0:2; track item) {
            <div class="selected-item" (click)="removeSelected(item); $event.stopPropagation()">
                {{ truncate(item) }}
                <img src="/assets/icons/close-button.svg" />
            </div>
            }

            @if (selected.length > 2) {
            <div class="selected-item extra">
                +{{ selected.length - 2 }}
            </div>
            }
            }
        </div>

        @if (!readonly) {
        <div class="arrow">
            <img class="icon" [src]="dropdownIcon" [class.rotate]="mode === 'dropdown' && isOpen" alt=""
                aria-hidden="true" />
        </div>

        }
    </div>
    @if (isOpen && !disabled && !readonly) {
    <div class="dropdown" (click)="$event.stopPropagation()">

        @if (mode === 'search') {
        <div class="search-box">
            <input type="text" class="search-input" placeholder="Search" (input)="filterOptions($event)" autofocus />
        </div>
        }

        @for (opt of filteredOptions; track opt) {
        <div class="option" (click)="toggleSelect(opt); $event.stopPropagation()"
            [ngClass]="{ checked: selected.includes(opt) }">
            <app-checkbox [checked]="selected.includes(opt)" [label]="''">
            </app-checkbox>
            <app-tooltip [label]="truncate(opt)" [text]="opt" position="right">
                <span class="option-text">
                    {{ truncate(opt) }}
                </span>
            </app-tooltip>

        </div>
        } @empty {
        <div class="no-options">No results found</div>
        }

    </div>
    }
</div>
@if (error) {
<p class="error-text">{{ error }}</p>
}