$tab-col: #595959;
$border: #183650;
$white: #fff;
$black: #000;
$tab-active: #005480;
$tab-bg: #2D81FD;
$tab-border: #DADADA;
$tab-color: #B1B1B1;
$style4-bg: #4ba6d8;
$style5-bg: #f6cfd1;
$style5-active: #710000;

:host {
    display: inline-block;
    width: fit-content;
}

.tabs {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    font-family: "Inter", sans-serif;
}

.tab {
    padding: 8px 16px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 42px;
    min-width: 90px;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
    color: $tab-col;
}

.tab-label {
    display: inline-block;
}

.tab:focus {
    outline: none;
}

/* ===== STYLE 1 ===== */
.tabs-ButtonTab {
    border: 1px solid $border;
    border-radius: 4px;
    font-family: 'Myriad Pro';
    overflow: hidden;
    box-shadow: 1px 1px 2px 0px #0000000D;
}

.tabs-ButtonTab .tab {
    border-right: 0.5px solid $border;
    color: $border;
}

.tabs-ButtonTab .tab:last-child {
    border-right: none;
}

.tabs-ButtonTab .tab.active {
    background: $border;
    color: $white;
}


/* ===== STYLE 2 ===== */

.tabs-IconNavigationTab {
    gap: 28px;
    border-bottom: 1px solid transparent;
    padding-bottom: 6px;
}

.tabs-IconNavigationTab .tab {
    gap: 8px;
    color: $tab-col;
    position: relative;
    font-family: 'BookAlt';
    font-size: 14px;
    font-weight: 400;
}

.tabs-IconNavigationTab .tab.active {
    color: $tab-active;
    font-weight: 600;
}

.tabs-IconNavigationTab .tab.active::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    height: 3px;
    background: $tab-active;
    border-radius: 2px;
}


/* ===== STYLE 3 ===== */

.tabs-UnderlineTab {
    background: $white;
    padding: 4px 4px 0 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
    gap: 6px;
    position: relative;
    overflow: visible;
}

.tabs-UnderlineTab .tab {
    position: relative;
    color: $black;
    font-weight: 400;

}

.tabs-UnderlineTab .tab.active {
    color: $tab-bg;
    font-weight: 700;
}

.tabs-UnderlineTab .tab.active::after {
    content: "";
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: $tab-bg;
}

/* ===== STYLE 4 ===== */

.tabs-RoundedTab {
    background: $white;
    border: 2px solid $tab-border;
    border-radius: 24px;
    padding: 0;
    gap: 0;
    display: inline-flex;
    overflow: hidden;
}

.tabs-RoundedTab .tab {
    border-radius: 0;
    color: $tab-color;
    padding: 8px 22px;
    font-weight: 500;
    background: transparent;
    border-right: 1px solid $tab-border;
    position: relative;
    transition: all 0.25s ease;
}

.tabs-RoundedTab .tab:last-child {
    border-right: none;
}

.tabs-RoundedTab .tab:first-child {
    border-radius: 24px 0 0 24px;
}

.tabs-RoundedTab .tab:last-child {
    border-radius: 0 24px 24px 0;
}

.tabs-RoundedTab .tab.active {
    background: $style4-bg;
    color: $white;

    z-index: 2;
}

.tabs-RoundedTab .tab.active+.tab {
    border-left: none;
}

.tabs-RoundedTab .tab.active {
    border-right: none;
}

.tabs-PillTab {
    background: $style5-bg;
    border-radius: 24px;
    padding: 4px;
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    gap: 4px;
    width: fit-content;
}

.tabs-PillTab .tab {
    width: 100%;
    padding: 8px 20px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: $tab-col;
    font-weight: 500;
    white-space: nowrap;
    transition: all 0.25s ease;
}

.tabs-PillTab .tab.active {
    background: $style5-active;
    color: $white;
}

.tabs-PillTab .icon {
    flex-shrink: 0;
}

.icon {
    width: 24px;
    height: 24px;
    background: currentColor;
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.tab:hover:not(.active) {
    background: rgba(0, 0, 0, 0.04);
}