<div class="accordion" [ngClass]="type">
  <button class="accordion-header" (click)="toggle()" [attr.aria-expanded]="expanded">
    <div class="accordion-title-group">
      <span class="accordion-title">{{ title }}</span>
      @if (type === 'primary') {
      <app-checkbox class="accordion-checkbox" label="Checkbox" [class.inverse]="expanded"
        (click)="$event.stopPropagation()">
      </app-checkbox>
      }
    </div>

    <img src="./assets/icons/accordion-dropdown.svg" alt="Toggle accordion" class="accordion-icon"
      [class.expanded]="expanded" />
  </button>

  @if (expanded) {
  <div class="accordion-body">
    @if (!hasProjectedContent) {
    <app-multi-select-dropdown label="Country" [options]="['India','Japan','Iraq']" mode="dropdown">
    </app-multi-select-dropdown>
    <app-search label="Country" [options]="['India','Japan','Korea']" [required]=true>
    </app-search>
    <app-search label="Country" [options]="['India','Japan','Korea']" [required]=true>
    </app-search>
    <app-multi-select-dropdown label="Country"
      [options]="['India','Japan','Korea','China','Iran']"></app-multi-select-dropdown>
    <app-search label="Country" [options]="['India','Japan','Korea']" [required]=true>
    </app-search>
    <app-search label="Country" [options]="['India','Japan','Korea']" [required]=true>
    </app-search>
    }
    @else {
      <ng-content></ng-content>
    }
  </div>
  }
</div>