<div class="btn-wrapper">
  @if (buttonType === 'order' && orderState === 'progress') {
  <div class="order-progress-area">
    <img src="/assets/icons/placeOrder.svg" class="order-image" [style.left.%]="orderProgress" />
    <div class="order-bar">
      <div class="order-bar-fill" [style.width.%]="orderProgress"></div>
    </div>
  </div>
  }
  <!-- MAIN BUTTON -->
  @if (buttonType !== 'order' || orderState !== 'progress') {
  <button class="button-main-container" [ngClass]="[
        buttonType,
        buttonType === 'download' ? 'state-' + downloadState : '',
        buttonType === 'order' ? 'state-' + orderState : '',
        buttonType === 'cart' && isCartAnimating ? 'animate' : ''
      ]" [disabled]="disabled || orderState === 'progress'" (click)="onButtonClick()">

    <!-- Left Icon -->
    @if (showIcon && icon && iconPosition === 'left') {
    <span class="icon" [style]="{'mask-image': 'url(' + icon + ')'}">
    </span>
    }
    <!-- DOWNLOAD -->
    @if (buttonType === 'download') {
    <span class="content">
      @if (downloadState !== 'done') {
      {{ label }}
      } @else {
      Download
      }
    </span>
    }
    <!-- ORDER TEXT -->
    @else if (buttonType === 'order') {
    @if (orderState === 'idle') {
    <span>Complete Order</span>
    }
    @else if (orderState === 'done') {
    <span class="order-done-text">
      Order Placed
      <img [src]="orderSuccessIcon" alt="success" class="orderSuccess-image" />
    </span>
    }
    }
    <!-- DEFAULT -->
   @else {

  @if (buttonType === 'cart') {

    <span class="cart-text">
      {{ label }}
    </span>

  } @else if (buttonType === 'stack-orange') {

    <span class="btn-text-wrapper">
      <span class="btn-text default-text">{{ label }}</span>
      <span class="btn-text hover-text">{{ label }}</span>
    </span>

  } @else {

    <span class="normal-label">{{ label }}</span>

  }

}


    <!-- Right Icon -->
    @if (showIcon && icon && iconPosition === 'right') {
    <span class="icon" [style]="{'mask-image': 'url(' + icon + ')'}">
    </span>
    }
  </button>
  }
  <!-- DOWNLOAD MESSAGE -->
  @if (buttonType === 'download' && downloadState === 'done') {
  <div class="download-complete-text">
    Downloading completed successfully
  </div>
  }
</div>