<div class="date-picker" [class.single-mode]="type === 'single'">
    <div class="input-box" (click)="toggle()">
        <input readonly [value]="displayValue" placeholder="Select date range" />
        @if (icon) {
        <img [src]="icon" alt="calendar" class="icon-img" />
        }
    </div>
    @if (show) {
    <div class="calendar-wrapper">
        <div class="calendar">
            <div class="header">
                <div class="month-year" (click)="openYearPicker()">
                    <span class="month">
                        {{ currentMonth | date:'MMMM' }}
                    </span>
                    <span class="year">
                        {{ currentMonth | date:'yyyy' }}
                    </span>
                    <span class="arrow">▼</span>
                </div>
                <div class="nav-arrows">
                    <button (click)="prevMonth()">
                        <img src="assets/icons/dropdown.svg" class="arrow left" />
                    </button>
                    <button (click)="nextMonth()">
                        <img src="assets/icons/dropdown.svg" class="arrow right" />
                    </button>
                </div>
            </div>
            <div class="week">
                <span>M</span>
                <span>T</span>
                <span>W</span>
                <span>T</span>
                <span>F</span>
                <span>S</span>
                <span>S</span>
            </div>
            <div class="days">

                @for (day of days; track day.date.getTime()) {
                <span (click)="selectDate(day)" [class.outside]="!day.currentMonth" [class.active]="day.selected"
                    [class.range]="day.inRange" [class.range-start]="day.rangeStart" [class.range-end]="day.rangeEnd"
                    [class.empty]="!day.currentMonth">
                    {{ day.currentMonth ? day.date.getDate() : '' }}
                </span>
                }
            </div>
            <div class="footer">
                <button class="cancel" (click)="close()">
                    Cancel
                </button>
                <button class="ok" (click)="close()">
                    Select
                </button>
            </div>
        </div>
        @if (showYearPicker) {
        <div class="year-input-wrapper outside">
            <input type="number" class="year-input" [(ngModel)]="tempYear" />
            @if (icon) {
            <img [src]="icon" alt="calendar" class="year-input-icon" />
            }
        </div>
        <div class="year-panel">
            <div class="year-grid" #yearGrid>
                @for (year of years; track year.value) {
                <div class="year-item" [class.active]="year.value === tempYear" [class.disabled]="year.disabled"
                    (click)="!year.disabled && (tempYear = year.value)">
                    {{ year.value }}
                </div>
                }
            </div>
            <div class="footer">
                <button class="cancel" (click)="cancelYear()">
                    Cancel
                </button>
                <button class="ok" (click)="selectYear()">
                    Select
                </button>
            </div>
        </div>
        }
    </div>
    }
</div>