$bg-active: #3F2E50;
$color: #fff;
$border: #D9D9D9;
$hover: #f0f0f0;
$text: #777;
$span: #1f2937;
$range-bg: #eee6f3;
$disable: #9ca3af;

.date-picker {
  position: relative;
  width: 260px;
  font-family: Inter, sans-serif;
}

.date-picker.single-mode {

  .days .range,
  .days .range-start,
  .days .range-end {
    background: transparent;
  }

  .days .range-start::before,
  .days .range-end::before {
    display: none;
  }

  .days .active {
    background: $bg-active;
    color: $color;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin: auto;
  }
}

.input-box {
  border: 1px solid $border;
  border-radius: 4px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: $color;
  min-width: 380px;
  min-height: 48px;
  box-sizing: border-box;
}

.input-box input {
  border: none;
  outline: none;
  flex: 1;
  min-width: 0;
  cursor: pointer;
  background: transparent;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icon-img {
  width: 18px;
  height: 18px;
  opacity: 0.7;
  flex-shrink: 0;
  margin-left: 6px;
}

.calendar-wrapper {
  position: absolute;
  top: 48px;
  left: 38%;
  display: flex;
  gap: 12px;
  z-index: 20;
}

.calendar {
  position: relative;
  width: 264px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid $border;
  padding: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
  margin-bottom: 10px;
}

.nav-arrows {
  display: flex;
  gap: 16px;
  align-items: center;
}

.arrow {
  width: 14px;
  height: 14px;
  opacity: 0.7;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.arrow.left {
  transform: rotate(90deg);
  background: transparent;
  border: none;
  outline: none;
}

.arrow.right {
  transform: rotate(-90deg);
  background: transparent;
  border: none;
  outline: none;
}

.nav-arrows button {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
}

.nav-arrows button:focus,
.nav-arrows button:active,
.nav-arrows button:focus-visible {
  outline: none;
  box-shadow: none;
  background: transparent;
}

.month-year {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
}

.month-year:hover {
  background: $hover;
}

.month-year .arrow {
  font-size: 10px;
  opacity: 0.6;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 12px;
  color: $text;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
  margin-top: 4px;
}

.days span {
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  color: $span;
  z-index: 0;
  isolation: isolate;
}

.days span:hover:not(.active):not(.range):not(.empty) {
  background: $hover;
  border-radius: 50%;
}

.days .outside {
  color: $border;
}

.days .empty {
  pointer-events: none;
}

.days .range {
  background: $range-bg;
  color: $bg-active;
}

.days .range,
.days .range-start,
.days .range-end {
  height: 32px;
  width: 100%;
}

.days .range-start,
.days .range-end {
  background: $range-bg;
  position: relative;
  color: $color;
  font-weight: 500;
  z-index: 2;
}

.days .range-start {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.days .range-end {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.days .range-start::before,
.days .range-end::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
  background: $bg-active;
  border-radius: 50%;
  z-index: -1;
}

.days span:nth-child(7n + 1).range,
.days span:nth-child(7n + 1).range-start {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.days span:nth-child(7n).range,
.days span:nth-child(7n).range-end {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 4px;
}

.footer button {
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.cancel {
  background: none;
  border: none;
  color: $text;
}

.ok {
  border: 1px solid #000;
  background: $color;
  font-weight: 500;
}

.year-panel {
  position: relative;
  width: 264px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid $border;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 30%;
}

.year-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  max-height: 180px;
  overflow-y: auto;
  margin-top: 4px;
}

.year-input-wrapper.outside {
  position: absolute;
  top: -49px;
  left: 60%;
  width: 380px;
  height: 35px;
  z-index: 25;
}

.year-item {
  height: 32px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
  font-size: 14px;
  transition: all 0.2s ease;
  color: $span;

  &:hover:not(.disabled) {
    background: $hover;
  }

  &.active {
    background: $bg-active;
    color: $color;
  }

  &.disabled {
    color: $disable;
    background: none;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
    filter: grayscale(1);

    &:hover {
      background: none;
      color: $disable;
    }
  }
}

.year-input-wrapper {
  border: 1px solid $border;
  border-radius: 4px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $color;
  width: 100%;
}

.year-input {
  border: none;
  outline: none;
  flex: 1;
  min-width: 0;
  cursor: pointer;
  background: transparent;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.year-input-icon {
  width: 18px;
  height: 18px;
  opacity: 0.7;
  flex-shrink: 0;
  margin-left: 6px;
}