<!-- SINGLE CHIP MODE -->
@if (mode === 'single') {
<div class="chip" [ngClass]="[
      styleType,
      getColor(status, 0)
    ]">
    @if (styleType === 'style1') {
    <span class="dot"></span>
    }
    <span class="text">{{ label }}</span>
</div>
}

<!-- GROUP MODE -->
@if (mode === 'group') {
<div class="group-wrapper">
    <!-- GOOD -->
    @if (activeStatus === 'all' || activeStatus === 'good') {
    <div class="group-column">
        @for (label of goodLabels; track label; let i = $index) {
        <div class="chip" [ngClass]="[styleType, getColor('good', i)]">
            @if (styleType === 'style1') {
            <span class="dot"></span>
            }
            <span class="text">{{ label }}</span>
        </div>
        }
    </div>
    }

    <!-- BAD -->
    @if (activeStatus === 'all' || activeStatus === 'bad') {
    <div class="group-column">
        @for (label of badLabels; track label; let i = $index) {
        <div class="chip" [ngClass]="[styleType, getColor('bad', i)]">
            @if (styleType === 'style1') {
            <span class="dot"></span>
            }
            <span class="text">{{ label }}</span>
        </div>
        }
    </div>
    }

    <!-- Progress -->
    @if (activeStatus === 'all' || activeStatus === 'progress') {
    <div class="group-column">
        @for (label of progressLabels; track label; let i = $index) {
        <div class="chip" [ngClass]="[styleType, getColor('progress', i)]">
            @if (styleType === 'style1') {
            <span class="dot"></span>
            }
            <span class="text">{{ label }}</span>
        </div>
        }
    </div>
    }

    <!-- Neutral -->
    @if (activeStatus === 'all' || activeStatus === 'neutral') {
    <div class="group-column">
        @for (label of neutralLabels; track label; let i = $index) {
        <div class="chip" [ngClass]="[styleType, getColor('neutral', i)]">
            @if (styleType === 'style1') {
            <span class="dot"></span>
            }
            <span class="text">{{ label }}</span>
        </div>
        }
    </div>
    }
</div>
}