.green1 { --c: #2B690D; }
.green2 { --c: #4CBB17; }
.green3 { --c: #7AE846; }

.red1 { --c: #B22F24; }
.red2 { --c: #EB7100; }
.red3 { --c: #E3A710; }

.blue1 { --c: #006BBA; }
.blue2 { --c: #00A3E0; }
.blue3 { --c: #B8E8FF; }

.gray1 { --c: #3F4443; }
.gray2 { --c: #6C757D; }
.gray3 { --c: #B9B9B9; }
$background-color: #fff;
$color:#3F4443;
.group-wrapper {
  display: flex;
  gap: 32px;
}

.group-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 12px;
  font-family: 'Myriad Pro';
  width: fit-content;
  min-width: 104px;
}

.text {
  white-space: nowrap;
}

.style1 {
  background: transparent;
}

.style1 .dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  color: $color;
}

.style2 {
  color: $background-color;
  padding: 6px 12px;
  border-radius: 30px;
  height: 32px;
  gap: 10px;
  font-weight: 600;
}

.style3 {
  background: $background-color;
  border: 1px solid var(--c);
  border-left: 11px solid var(--c);
  padding: 4px 12px;   
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  height: 32px;
  font-weight: 600;
  color: $color;
}

.chip {

  &.style1 .dot {
    background: var(--c);
  }

  &.style2 {
    background: var(--c);
  }

  &.style3 {
    border-color: var(--c);
    border-left-color: var(--c);
  }
}
